[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"

[packages]
autopep8 = "*"

[requires]
python_version = "3.7"
